/*CSS - Construção*/
*{
	margin: 0;
	padding: 0;
}

h2{
	color: #000000;
	font-family: Arial;
	text-align: center;
}

h5{
	color: #ea0c10;
	font-family: Courier;
	text-align: center;
}

b{
	color: #FFFFFF;
	text-shadow: 2px 1px 1px #111111;
	font-size: 20px;
}

p{
	text-shadow: 1px 0 0 #111111;
}
header{
	background-color: #92aff2;
	height: 140px;
	padding: 10px;
}

#logo{
	text-align: center;
}

#menu{
	float: left;
}

#menu a{
	margin: 15px;
	padding: 5px 30px;
	text-decoration: none;
	color: #000000;
	font-style: italic;
}

#menu a:hover{
	background-color: #597ccc;
	color: #000000;
}

.container{
	width: 1000px;
	margin: 0 auto;
}

#conteudo{
	background-image: url('image.jpeg');
	clear: both;
	background-size: 100%;
	min-height: 575px;
	padding: 60px 120px 60px 120px;
}

footer{
	clear: both;
	background-color: #92aff2;
	height: 60px;
	text-align: center;
	padding: 15px
}