/*CSS*/
/*Declarando estilo para parágrafos*/
p{
	font-family: Impact;
	font-style: bold;
	color: white;
	font-size: 40px;
}
/*Declarando estilo para tudo o que está no body*/
body{
	background-color: #000000;
}
/*Remove espaçamento*/
*{
	margin: 0;
	padding: 0;
}

header{
	background-color: green;
	height: 300px;
}
/*rodapé*/
footer{
	clear: both;
	background-color: yellow;
	height: 100px
}

/*classe*/
.container{
	width: 1000px;
	margin: 0 auto;
}

#div_left{
	background-color: red;
	min-height: 200px;
	width: 40%;
	float: left;
}

#div_right{
	background-color: blue;
	min-height: 200px;
	width: 60%;
	float: right;
}
